# yaml-language-server: $schema=../../../../vendor/symfony/dependency-injection/Loader/schema/services.schema.json
services:
  hucha_settings.data_accessor:
    class: Drupal\dinger_settings\Service\DataAccessor
    arguments:
      - '@entity_type.manager'
      - '@logger.factory'

  hucha_settings.bidding_service:
    class: Drupal\dinger_settings\Service\BiddingService
    arguments:
      - '@entity_type.manager'
      - '@logger.factory'

  hucha_settings.calls_service:
    class: Drupal\dinger_settings\Service\CallsService
    arguments:
      - '@entity_type.manager'
      - '@logger.factory'

  hucha_settings.transactions_service:
    class: Drupal\dinger_settings\Service\TransactionsService
    arguments:
      - '@entity_type.manager'
      - '@logger.factory'

  hucha_settings.utils_service:
    class: Drupal\dinger_settings\Service\UtilsService
    arguments: [ ]

  hucha_settings.orders_service:
    class: Drupal\dinger_settings\Service\OrdersService
    arguments:
      - '@logger.factory'

  dinger_settings.google_cloud_service:
    class: Drupal\dinger_settings\Service\GoogleCloudService
    arguments: ['@config.factory', '@logger.factory']

  dinger_settings.firestore_cloud_service:
    class: Drupal\dinger_settings\Service\FirestoreCloudService
    arguments: ['@config.factory', '@logger.factory']

  dinger_settings.firebase_functions_service:
    class: Drupal\dinger_settings\Service\FirebaseFunctionsService
    arguments: [
      '@http_client',
      '@logger.factory',
      '@config.factory'
    ]

  hucha_settings.fire_storage_cloud_service:
    class: Drupal\dinger_settings\Service\FireStorageCloudService
    arguments: [
      '@http_client',
      '@logger.factory',
      '@config.factory',
      '@file_system'
    ]

  dinger_settings.geohash_service:
    class: Drupal\dinger_settings\Service\GeoHashService
    arguments:
      - '@logger.factory'

  dinger_settings.event_subscriber:
    class: Drupal\dinger_settings\EventSubscriber\WebformAuthSubscriber
    arguments: ['@simple_oauth.authentication.simple_oauth', '@logger.factory']
    tags:
      - { name: event_subscriber }

  dinger_settings.customers_service:
    class: Drupal\dinger_settings\Service\CustomersService
    arguments: ['@logger.factory', '@entity_type.manager']
